/*main > .container {*/
/*  padding: 60px 15px 0;*/
/*}*/

/*.footer {*/
/*  background-color: #f5f5f5;*/
/*}*/

/*.footer > .container {*/
/*  padding-right: 15px;*/
/*  padding-left: 15px;*/
/*}*/

/*code {*/
/*  font-size: 80%;*/
/*}*/
